$yellow: #FFFF00;
$niebieski: rgb(0,0,255);
$czerwony: rgb(255,0,0);
$zielony: rgb(0,220,0);

body {
    background-color: white;
    
    font-family: Arial;
}

body span{
    text-align: center;
    display:block;
    color:$niebieski;
    font-weight: bold;
    font-size: 175%;
    margin-bottom: 20px;
}

body div{
    display: inline;
    color: $czerwony;
    border-top-color: $zielony;
    border-top-width: 4px;
    border-top-style: dashed;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
}
