

body {
    background-color: white;
    font-family: Arial;
}

#outer{
    margin: auto;
    display: flex;
    width: 40px;
    height: 400px;
    color: white;
}

#outer .box{
        padding:40px;
        display:flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    #outer .box:nth-child(1){
        background-color: rgb(65, 64, 64);
    }

    #outer .box:nth-child(2){
        background-color: gray;
    }
    #outer .box:nth-child(3){
        background-color: lightgray;
    }
